[package]
name = "strip-jack-naked"
version = "1.5.1"
authors = ["Shae Erisson <shae@scannedinavian.com>"]
edition = "2021"

[dependencies]
rand = "0.3"

[profile.release]
#debug = true
codegen-units = 1
lto = "fat"
opt-level = 3
panic = "abort"
