[package]
name = "strip-jack-naked"
version = "2.0.3"
authors = ["Shae Erisson <shae@scannedinavian.com>"]
edition = "2021"

[dependencies]
rand = "0.3"

[dev-dependencies]
proptest = "1.0.0"

[profile.release]
#debug = true
codegen-units = 1
lto = "fat"
opt-level = 3
panic = "abort"
